@page "/"

<h1>Hello, world!</h1>

<p>@(1 < 2 ? "test1" : "test2")</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("tsstttt");
        await Task.Delay(1);
    }

}